th:nth-child(1) {
    width: 25vw;
}

th:nth-child(2) {
    width: 15vw;
}

th:nth-child(3) {
    width: 10vw;
}

th:nth-child(4) {
    width: 15vw;
}

th:nth-child(5) {
    width: 35vw;
}

tbody tr:hover {background-color: #ddd;}

.no-results {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}

.nav-arrow {
    height: 25px;
    width: 50px;
}

.nav-arrow.right {
    transform: rotate(180deg);
}

.paginator {
    margin: 20px auto;
}

.paginator-number {
    display: inline;
    font-size: 25px;
}

button {
    letter-spacing: inherit;
    text-align: left;
    background: none;
    cursor: pointer;
    border: none;
}
